.container
  .row
    .col-md-8

      %h1 About Injury Forum
      %br/
      %h4.info-spacing Injury Forum was created for everyone and anyone who has ever had a musculoskeletal injury to share their experiences and knowledge about injury and recovery in the hope to aid others in their journey to recovery.

      %h4.info-spacing The purpose of this site is to serve as a repository for the public's knowledge about all things injury and recovery. The hope is that users will be able to provide others with the vital information that they need to make complete recoveries.

      %h4.info-spacing With doctors' time at an ever increasing premium, there is more and more responsibility placed upon us, the patients, to take responsibility for our own recovery.  Once you have a diagnosis and a treatment plan, you are often sent off to a therapist or on your own to execute the steps necessary to get you back to full health.

      %h4.info-spacing This is the place to share and find the basic information about your injury, to share and find helpful resources, be it books, blogs, pamphlets, or videos, to share and find inspirational stories about recovery, and to share and find alternative exercises or plans for recovery.

      %h4.info-spacing The only thing missing is you, the compassionate, knowledgeable users to provide information for one another.
