.container
  .row
    .col-md-8
      %h1 Injury Forum Disclaimer
      %h4.info-spacing All information on this site was provided by users like yourself.  As such, Injury Forum advises that you consult a medical professional before performing any exercise or following any treatment plan that you find on the site.
      %h4.info-spacing The content on the site is meant for use as reference.  Injury Forum accepts no responsibility for any further injuries incurred while following the advice of others on this site.  No medical treatment or rehabilitation protocol should be initiated without consulting a medical professional first.
      %br/
      %h2 A Word of Reason
      %h4.info-spacing Please practice safety first.  We want to help each other recover from injuries, first and foremost.  That said, while it is good to be enthusiastic and open-minded to different approaches to recovery, a certain amount of practicality and caution needs to be applied when dealing with injuries and other sensitive ailments.
      %h4.info-spacing May you have a steady and complete recovery and maintain a pragmatic approach to preventing recurrences.
