.container
  .row
    .col-md-8
      .jumbotron
        %h1= @injury.name
        %p [This should be the top voted description]
    .col-md-4
      %h4 Top Related Activities
  .row
  -# TODO make a nav with tabs for each topic
    %h3 The topics navtabs should go here with the posts appearing in the area below
